{% extends 'base.html' %}

{% block content %}

<h2>Nuevo Cliente</h2>

<form method="POST">

    <div class="mb-3">
        <label>Nombre</label>
        <input type="text" name="nombre" class="form-control">
    </div>

    <div class="mb-3">
        <label>Apellido</label>
        <input type="text" name="apellido" class="form-control">
    </div>

    <div class="mb-3">
        <label>Teléfono</label>
        <input type="text" name="telefono" class="form-control">
    </div>

    <div class="mb-3">
        <label>Correo</label>
        <input type="email" name="correo" class="form-control">
    </div>

    <div class="mb-3">
        <label>CI</label>
        <input type="text" name="ci" class="form-control">
    </div>

    <button class="btn btn-success">
        Guardar
    </button>

</form>

{% endblock %}